{% extends "base.html" %}

{% block content %}

    <h2>This is about page</h2>

    <form method="post" action="/contact">
        <input type="text" name="contact-name" placeholder="Enter your name">
        <br>
        <br>

        <input type="email" name="contact-email" placeholder="Enter your email">
        <br>
        <br>
        <textarea name="contact-message" placeholder="Enter your message"></textarea>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>

{% endblock content %}